flask
flask-cors==4.0.0
flask-sqlalchemy
flask-jwt-extended
mysql-connector-python
bcrypt
python-dotenv
gunicorn
pytesseract 
pillow 
flask
PyPDF2 
pdf2image
openai 
langchain 
pandas
langchain_community
openpyxl
sentence_transformers
faiss-cpu
mysql-connector-python
sqlalchemy
pymysql 
requests 
pillow
flask-login
langchain_openai
transformers
torch
langchain-groq
selenium==4.15.2
webdriver-manager==4.0.1
beautifulsoup4==4.12.2

